.mainDiv {
  height: 90vh;
}

.canvasDiv {
  float: left;
  width: 950px;
}

.blockly {
  float: left;
  background: white;
  width: calc(100% - 950px);
  height: 100%;
}

#canvas {
  background: #eee;
  width: inherit;
  height: 100%;
}
